.section_about {
    position: relative;
    /* จำเป็นต้องมี position relative เพื่อให้ content อยู่เหนือพื้นหลัง */
  
  }
  .card-1{
    width: auto;
    height: 40vw;
    min-height: 400px;
    overflow: hidden;
    background-image: url(../Sorce/IMG_1424.JPG);
    background-size: cover;
    background-position: center;
    text-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.144);
    background-blend-mode: overlay;
    display: flex;
  }
  .card-1 h1{
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0px 5px 12px #030303;
    margin: auto;
    font-size: clamp(50px,5vw,90px) !important;
  }





  .item-p {
    text-align: center;
    padding: 10px 0;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 10%;
}

.port {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 768px) {
    .port {
        flex-direction: column-reverse;
    }

    .trans_service:hover{
      transition: 1s ease;
      transform: scale(1);
    }

    .buttons-1-1 h1 {
        font-size: 60px;
        margin: 0 0 20px;
        color: #ddb823;
        font-weight: bold;
    }
    
    .buttons-1-1 p {
        font-size: 30px;
        color: #000000;
        padding: 20px 0;
        font-weight: bold;
    }
}

.buttons-1 {
    flex: 1 1 calc(50% - 10px);
    min-width: 300px;
    padding: 10px;
    text-align: center;
}

.buttons-1-1 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    margin: 0 auto;
    margin-top: 90px;
}

.buttons-1-1 h1 {
    font-size: 60px;
    margin: 0 0 20px;
    color: #ddb823;
    font-weight: bold;
}

.buttons-1-1 p {
    font-size: 55px;
    color: #000000;
    padding: 20px 0;
    font-weight: bold;
}

.buttons-1-2 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    margin: 1rem 0;
    padding: 0.1px 0.1px;
    max-width: 270px;
    margin: 0 auto;
    height: auto;
}

.buttons-1-2 a {
    margin: 1rem 0;
    background-color: #fbe3b0;
    padding: 13px 30px;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);
    text-decoration: none;
    font-weight: bold;
}

.buttons-1-2 h1 {
    font-size: 40px;
    margin: 0 0 10px;
    color: #956600;
    font-weight: bold;
}

.buttons-1-2 a:hover {
    transition: 1s ease;
    transform: scale(1.1);
  }




.buttons-2 {
    flex: 1 1 calc(50% - 10px);
    min-width: 300px;
    width: 100%;
    text-align: center;
    height: auto;
    padding: 0 20px;
}


.buttons-2 img {
    width: 100%;
    justify-content: center;
    height: 550px;    
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);

}


@media (max-width: 768px) {

    .buttons-1-1 {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1rem;
        margin: 0 auto;
        margin-top: 10px;
    }

    .buttons-1-1 h1 {
        font-size: 40px;
        margin: 0 0 20px;
        color: #ddb823;
        font-weight: bold;
    }
    
    .buttons-1-1 p {
        font-size: 30px;
        color: #000000;
        padding: 0;
        font-weight: bold;
    }

    .buttons-1-2 h1 {
        font-size: 30px;
        margin: 0 0 5px;
        color: #956600;
        font-weight: bold;
    }

    .buttons-2 img {
        width: 100%;
        justify-content: center;
        height: 350px;    
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);
    
    }
}



/* ************************************************************ */

.calling_and_line{
    margin-top: 1%;
  }
  .f-column-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 951px;
    margin: auto;
    margin-left: 10%;
  }
  
  .f-column-3 a {
    text-decoration: none;
    flex: 1;
    min-width: 250px;
    display: flex;
    justify-content: center;
  }
  
  .f-column-3 .fcolumn {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 382px;
    height: 94px;
    border-radius:79px;
    padding:39px;
    color: white;
  }
  
  .f-column-3 .fcolumn img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  .f-column-3 .fcolumn h2 {
    font-size: 25px;
    margin: 0;
    font-weight: bold;
  }
  
  .f-column-3 .fcolumn h3, .f-column-3 .fcolumn h4 {
    font-size: 25px;
    margin:0;
    color: white;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {

    .calling_and_line{
        margin-top: 5%;
      }

    .f-column-3 {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }
  
    .f-column-3 a {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .f-column-3 .fcolumn {
        max-width: 62%;
        height: 47px;
    }
  
    .f-column-3 .fcolumn img {
        width: 63px;
        height: 72px;
    }
  
    .f-column-3 .fcolumn h2 {
      font-size: 19px;
    }
  
    .f-column-3 .fcolumn h3, .f-column-3 .fcolumn h4 {
      font-size: 14px;
    }
  }
  
  